.header-container {
  display: flex;
  justify-content: space-between;
}

.center {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.alignCenter {
  align-self: center;
}

.modal-container {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.36);
}

.modal {
  width: 18rem;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1.2rem;
  background-color: white;
}

.myForm {
  display: flex;
  flex-direction: column;
}

.post-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.post-item {
  display: flex;
  flex-basis: 40%;
}

.post-aside-section {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.post-desc {
  display: flex;
  flex-direction: column;
}
.desc {
  overflow: hidden;
  max-height: 4.6rem;
}
.body-container {
  margin: auto 10%;
}

.post-heading {
  text-align: center;
}
.left {
  align-self: flex-start;
}

.btn {
  margin-top: 0.32rem;
  margin-bottom: 0.32rem;
  background-color: pink;
}
.comment-area {
  display: none;
  min-width: 25rem;
  max-width: 40rem;
  align-self: flex-start;
  background-color: pink;
}
.comment {
  display: block;
  background-color: white;
  margin: 0.64rem;
}
p{
  margin: 0;
  padding: 0;
}
[contenteditable] :focus {
  outline: none;
}
.hide {
  display: none;
}
.danger {
  color: red;
}